<!DOCTYPE html>
<html lang="en">
{%include 'doctor/header.html' %}

<body>

  <!-- --------------------------------------------------- -->
  <!-- Body Wrapper -->
  <!-- --------------------------------------------------- -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
    {%include 'doctor/sidebar-doctor.html' %}


    <!-- --------------------------------------------------- -->
    <!-- Main Wrapper -->
    <!-- --------------------------------------------------- -->
    <div class="body-wrapper">
      
      <div class="container-fluid">

        <ul class="nav nav-pills p-3 mb-3 rounded align-items-center card flex-row">

          <li class="nav-item">
            <a href="{{url_for('doctor.patientreports',appointment_id=session['APPOINTMENT_ID'],user_id=user_id)}}" class="
                    nav-link
                    note-link
                    d-flex
                    align-items-center
                    justify-content-center
                    px-3 px-md-3
                    me-0 me-md-2 text-body-color
                  " id="all-category">
              <i class="ti ti-list fill-white me-0 me-md-1"></i>
              <span class="d-none d-md-block font-weight-medium">Medical Reports</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('doctor.doctor_reviews',appointment_id=session['APPOINTMENT_ID'],user_id=user_id)}}" class="
                    nav-link
                    note-link
                    d-flex
                    active
                    align-items-center
                    justify-content-center
                    px-3 px-md-3
                    me-0 me-md-2 text-body-color
                  " id="all-category">
              <i class="ti ti-list fill-white me-0 me-md-1"></i>
              <span class="d-none d-md-block font-weight-medium">Prescribed Medicines and Report Reviews</span>
            </a>
          </li>
        </ul>
          <h2 class="fw-semibold mb-8">Patient Report Reviews</h2>
          <div class="card">
            <div class="card-body">
                <p>{{report_review}}</p>
            </div>
          </div>
          <h4 class="fw-semibold mb-8">Selected Medicines</h4>
          <div class="card">
          <div class="invoice-add-table">
              <div class="table-responsive">
                  <table class="table table-center add-table-items">
                      <thead>
                          <tr>
                              <th>Medicine Name</th>
                              <th>Manufacture Name</th>
                              <th>Course Days</th>
                              <th>Morning</th>
                              <th>Afternoon</th>
                              <th>Evening</th>
                          </tr>
                      </thead>
                      <tbody>
                        {%  for prescription_list in plist%}
                        {%  for medicine in prescription_list['prescription']  %}
                        <tr> 
                          <td> {{medicine['medicine_name']}}</td> 
                          <td> {{ medicine['medicine_mname']}}</td> 
                          <td> {{ medicine['course_days']}}</td> 
                          <td> {{medicine['morning']}} </td> 
                          <td> {{medicine['afternoon']}} </td> 
                          <td> {{medicine['evening']}}</td> 
                          </tr>
                        {% endfor %}
                        {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
      </div>


            
           
  <!-- --------------------------------------------------- -->
  <!-- Customizer -->
  <!-- --------------------------------------------------- -->
  
 
    
  <!-- ---------------------------------------------- -->
  <!-- Customizer -->
  <!-- ---------------------------------------------- -->

  <!-- ---------------------------------------------- -->
  <!-- Import Js Files -->
  <!-- ---------------------------------------------- -->
 {%include 'doctor/footer.html'%}


</body>

</html>