
<!DOCTYPE html>
<html lang="en">
    {% include 'lab/header.html' %}
    <style>
      
  .option {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0 5px;
    text-align: center;
    cursor: pointer;
    border: 2px solid transparent; /* Default border */
    width: 100px; /* Adjust the width as needed */
  }
  .option.selected {
    border-color: blue; /* Blue border for selected option */
  }
  .option:hover {
    background-color: #f0f0f0;
  }
  .option-icon {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .option-label {
    font-size: 14px;
  }
    </style>
  <body>
    <!-- Preloader -->

    <!-- --------------------------------------------------- -->
    <!-- Body Wrapper -->
    <!-- --------------------------------------------------- -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
      <!-- --------------------------------------------------- -->
      <!-- Sidebar -->
      <!-- --------------------------------------------------- -->
      
        <!-- Sidebar scroll-->
        {% include 'lab/sidebar-lab.html' %}
        <!-- End Sidebar scroll-->
      <!-- --------------------------------------------------- -->
      <!-- Main Wrapper -->
      <!-- --------------------------------------------------- -->
      <div class="body-wrapper">
        <!-- --------------------------------------------------- -->
        <!-- Header Start -->
        <!-- --------------------------------------------------- -->
        {% include 'lab/header-lab.html' %} 
        <!-- --------------------------------------------------- -->
        <!-- Header End -->
        <!-- --------------------------------------------------- -->


        

        <div class="container-fluid note-has-grid">
            <div class="card bg-light-info shadow-none position-relative overflow-hidden">
              <div class="card-body px-4 py-3">
                <div class="row align-items-center">
                  <div class="col-9">
                    <h4 class="fw-semibold mb-8">Upload Reports for {{ user_details['name']}}</h4>
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-muted text-decoration-none" href="./index.html">Lab tests</a></li>
                        <li class="breadcrumb-item" aria-current="page">Lab </li>
                      </ol>
                    </nav>
                  </div>
                  <div class="col-3">
                    <div class="text-center mb-n5">  
                      <img src="../../dist/images/breadcrumb/ChatBc.png" alt="" class="img-fluid mb-n4">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ul class="nav nav-pills p-3 mb-3 rounded align-items-center card flex-row">
              <li class="nav-item">
                <a href="javascript:void(0)" class="
                        nav-link
                      
                        note-link
                        d-flex
                        align-items-center
                        justify-content-center
                        active
                        px-3 px-md-3
                        me-0 me-md-2 text-body-color
                      " id="all-category">
                  <i class="ti ti-list fill-white me-0 me-md-1"></i>
                  <span class="d-none d-md-block font-weight-medium">All Reports</span>
                </a>
              </li>
              
              <li class="nav-item ms-auto">
                <a href="javascript:void(0)" class="btn btn-primary d-flex align-items-center px-3" id="add-notes">
                 <i class="ti ti-file me-0 me-md-1 fs-4"></i>
                  <span class="d-none d-md-block font-weight-medium fs-3">Upload Reports</span>
                </a>
              </li>
              <li class="nav-item ms-auto">
                <a href="/finish-reports/{{app_details[0]['_id']}}" class="btn btn-primary d-flex align-items-center px-3" id="add-notes">
                 <i class="ti ti-file me-0 me-md-1 fs-4"></i>
                  <span class="d-none d-md-block font-weight-medium fs-3">Finish</span>
                </a>
              </li> 
            </ul>
            <div class="tab-content">
              <div id="note-full-container" class="note-has-grid row">
                {% for i in app_details %}
                {% for j in i['lab_reports'] %}
                <div class="col-md-4 single-note-item all-category">
                  <div class="card card-body">
                    <span class="side-stick"></span>
                    <a href="#" ><h6 class="note-title text-truncate w-75 mb-0" >{{ j['reportType'] }}</h6></a>
                    <p class="note-date fs-2">{{j['timestamp']}}</p>
                    <div class="note-content">
                      <p class="note-inner-content" data-noteContent="Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis."> Uploaded </p>
                    </div>
                    <div class="d-flex align-items-center">
                      <!-- <a href="javascript:void(0)" class="link me-1">
                        <i class="ti ti-star fs-4 favourite-note"></i>
                      </a>
                      <a href="javascript:void(0)" class="link text-danger ms-2">
                       <i class="ti ti-trash fs-4 remove-note"></i>
                      </a> -->
                      <div class="ms-auto">
                        <div class="category-selector btn-group">
                          <a class="nav-link category-dropdown label-group p-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
                            <div class="category">
                              <div class="category-business"></div>
                              <div class="category-social"></div>
                              <div class="category-important"></div>
                              <span class="more-options text-dark">
                                <i class="ti ti-dots-vertical fs-5"></i>
                              </span>
                            </div>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right category-menu">
                            <a class="
                                    note-business
                                    badge-group-item badge-business
                                    dropdown-item
                                    position-relative
                                    category-business
                                    d-flex
                                    align-items-center
                                  " href="javascript:void(0);">Business</a>
                            <a class="
                                    note-social
                                    badge-group-item badge-social
                                    dropdown-item
                                    position-relative
                                    category-social
                                    d-flex
                                    align-items-center
                                  " href="javascript:void(0);"> Social</a>
                            <a class="
                                    note-important
                                    badge-group-item badge-important
                                    dropdown-item
                                    position-relative
                                    category-important
                                    d-flex
                                    align-items-center
                                  " href="javascript:void(0);"> Important</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                
                {% endfor %}

                
            <!-- Modal Add notes -->
            <div class="modal fade" id="addnotesmodal" tabindex="-1" role="dialog" aria-labelledby="addnotesmodalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content border-0">
                  <div class="modal-header bg-primary">
                    <h6 class="modal-title text-white">Upload New Health Records</h6>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!-- Your form content -->
                    <div class="notes-box">
                      <div class="notes-content">
                        <form method="post" action="/upload-lab-reports/{{app_details[0]['_id']}}/{{user_details['aadharnumber']}}" enctype="multipart/form-data" id="addnotesmodalTitle">
                          <div class="row">
                            <div class="col-md-12 mb-3">
                              <div class="note-description">
                                <label>Upload Reports</label>
                                <input type="file" name="file" class="form-control" />
                              <!-- <input type="hidden"  id="report_type" name="report_type" > -->
                              </div>
                            </div>
                            <div class="col-md-12">
                              <label>Select Report Type</label>
                              <div class="row">
                                <select class="form-control" id="report_type"  name="report_type" required>
                                  {% for app_detail in app_details %}
                                      {% for lab_test in app_detail['lab_tests'] %}
                                          <option value="{{ lab_test }}">{{ lab_test }}</option>
                                      {% endfor %}
                                  {% endfor %}  
                              </select><br>
                              </div>
                            </div>
                          </div>
                      
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
                    <button type="submit" class="btn btn-primary" >Upload</button>
                  </div>
                </form>
                </div>
              </div>
            </div>
            
            <!-- <div class="modal fade" id="addnotesmodal" tabindex="-1" role="dialog" aria-labelledby="addnotesmodalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content border-0">
                  <div class="modal-header bg-primary">
                    <h6 class="modal-title text-white">Upload New Health Records</h6>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="notes-box">
                      <div class="notes-content">
                        <form  method="post" action="/upload" enctype="multipart/form-data"  id="addnotesmodalTitle">
                          <div class="row">
                            <div class="col-md-12 mb-3">
                              <div class="note-description">
                                <label>Upload Reports</label>
                                <input type="file" id="note-has-description" class="form-control" placeholder="Description" />
                              </div>
                            </div>
                            <div class="col-md-12">
                              <label>Select Report Type</label>
                            <div class="row">
                              
                            <div class="col-sm-4">
                               
                                <div class="option" onclick="selectOption('Bill', this)">
                                  <div class="option-icon">
                                    <img src="bill-icon.png" >
                                  </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="option" onclick="selectOption('Prescription', this)">
                                  <div class="option-icon">
                                    <img src="prescription-icon.png">
                                  </div>
                                  
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="option" onclick="selectOption('Scan Report', this)">
                                  <div class="option-icon">
                                    <img src="scan-icon.png" >
                                  </div>
                                </div>
                                </div>
                            </div>
                            </div>
                          </div>
                        </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
                    <button id="btn-n-add" class="btn btn-primary" disabled>Add</button>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function selectOption(option, element) {
        // Remove the 'selected' class from all options
        const options = document.querySelectorAll('.option');
        options.forEach((opt) => opt.classList.remove('selected'));
        
        // Add the 'selected' class to the clicked option
        element.classList.add('selected');
        document.getElementById("report_type").value = option;
        
        // Replace this alert with your desired action for each option
      
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
    <script>
        function showErrorAlert(message) {
            Swal.fire({
                icon: '{{type}}',
                title: 'Upload Status',
                text: message,
                confirmButtonText: 'OK'
            });

            window.location.href = "/view-lab-app-details/{{user_details['aadharnumber']}}";  
        }
  
        {% if message %}
            showErrorAlert("{{ message }}");

        {% endif %}
  </script>
    {% include 'lab/footer.html' %}
    <!-- ---------------------------------------------- -->
    <!-- current page js files -->
    <!-- ---------------------------------------------- -->
    <script src="{{ url_for('static', filename='dist/js/apps/chat.js') }}"></script>
    
    <script src="{{ url_for('static', filename='dist/js/apps/notes.js')}}"></script>
  </body>
</html>