
<!DOCTYPE html>
<html lang="en">
    {% include 'user/header.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/libs/prismjs/themes/prism-okaidia.min.css')}}">

    <!-- --------------------------------------------------- -->
    <!-- Select2 -->
    <!-- --------------------------------------------------- -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/libs/select2/dist/css/select2.min.css')}}">
  <body>
    <!-- Preloader -->
    
    <!-- --------------------------------------------------- -->
    <!-- Body Wrapper -->
    <!-- --------------------------------------------------- -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
      <!-- --------------------------------------------------- -->
      <!-- Sidebar -->
      <!-- --------------------------------------------------- -->
      {% include 'user/sidebar-user.html' %}
      <!-- --------------------------------------------------- -->
      <!-- Main Wrapper -->
      <!-- --------------------------------------------------- -->
      <div class="body-wrapper">
        <!-- --------------------------------------------------- -->
        <!-- Header Start -->
        <!-- --------------------------------------------------- -->
      
        <!-- --------------------------------------------------- -->
        <!-- Header End -->
        <!-- --------------------------------------------------- -->
        <div class="container-fluid">
            <div class="shop-detail">
                <div class="card shadow-none border">
                  <div class="card-body p-4">
                    <div class="row">
                      <div class="col-lg-6">
                        <div id="sync1" class="owl-carousel owl-theme">
                          <div class="item rounded overflow-hidden">
                            <img src="{{ url_for('static', filename='dist/images/doctor.png')}}" alt="" class="img-fluid">
                          </div>
                      </div>
                      
                      </div>
                      <div class="col-lg-6">
                        <div class="shop-content">  
                          <div class="d-flex align-items-center gap-2 mb-2">
                            <span class="badge text-bg-success fs-2 fw-semibold rounded-3">✅Approved</span>
                            <span class="fs-2">Dcotor</span>
                          </div>
                          <h4 class="fw-semibold">{{doctor_data['name']}}</h4>
                          <p class="mb-3">{{ doctor_data['speciality']}}</p>
                          <h4 class="fw-semibold mb-3"><del class="fs-5 text-muted"></del>Rs {{doctor_data['fees']}}</h4>
                          <div class="d-flex align-items-center gap-8 pb-4 border-bottom">

                            <a href="javascript:void(0)">({{236}} reviews)</a>
                          </div>
                          <div class="d-flex align-items-center gap-7 pb-7 mb-7 border-bottom">
                            <form method="post" action="{{ url_for('user.confirm_booking', doctor_id=doctor_data['_id']) }}">
                              <label for="appointment_date">Select Date:</label>
                              <input type="date"  class="form-control" id="appointment_date" name="appointment_date" required><br>
                              <div id="time_slot_container" style="display: none;">
                                  <label for="time_slot">Select Time Slot:</label>
                                  <select class="form-control" id="time_slot" name="time_slot" required>
                                      <!-- Populate time slot options dynamically based on doctor's availability -->
                                      <!-- For example, <option value="9:00 AM">9:00 AM</option> -->
                                  </select><br>
                                  <input type="text" name="reason" class="form-control" placeholder="Reason for appointment" required><br>
                                  <button class="btn d-block btn-primary px-5 py-8 mb-2 mb-sm-0" type="submit">Confirm Appointment</button>
                              </div>
                              <div id="message_for_you" style="display: none; color: red; margin-top: 10px;">
                                  <p>You already booked for today</p>
                              </div>
                          </form>

                            
                          
                          </div>
                          <div class="d-sm-flex align-items-center gap-3 pt-8 mb-7">
                            <a href="javascript:void(0)" class="btn d-block btn-primary px-5 py-8 mb-2 mb-sm-0">Contact Hospital</a>
                            <a href="javascript:void(0)" class="btn d-block btn-danger px-7 py-8">View Hosiptal</a>
                          </div>
                          <!-- <p class="mb-0">Dispatched in 2-3 weeks</p>
                          <a href="javascript:void(0)">Why the longer time for delivery?</a> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card shadow-none border">
                  <div class="card-body p-4">
                    <ul class="nav nav-pills user-profile-tab border-bottom" id="pills-tab" role="tablist">
                    
                      <li class="nav-item" role="presentation">
                        <button class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-6" id="pills-reviews-tab" data-bs-toggle="pill" data-bs-target="#pills-reviews" type="button" role="tab" aria-controls="pills-reviews" aria-selected="false">
                          Reviews
                        </button>
                      </li>
                    </ul>
                    <div class="tab-content pt-4" id="pills-tabContent">
                      
                      <div class="tab-pane fade" id="pills-reviews" role="tabpanel" aria-labelledby="pills-reviews-tab" tabindex="0">
                        <div class="row">
                          <div class="col-lg-4 d-flex align-items-stretch">
                            <div class="card shadow-none border w-100 mb-7 mb-lg-0">
                              <div class="card-body text-center p-4 d-flex flex-column justify-content-center">
                                <h6 class="mb-3">Average Rating</h6>
                                <h2 class="text-primary mb-3 fw-semibold fs-9">4/5</h2>
                                <ul class="list-unstyled d-flex align-items-center justify-content-center mb-0">
                                  <li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning fs-6"></i></a></li>
                                  <li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning fs-6"></i></a></li>
                                  <li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning fs-6"></i></a></li>
                                  <li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning fs-6"></i></a></li>
                                  <li><a class="" href="javascript:void(0)"><i class="ti ti-star text-warning fs-6"></i></a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-4 d-flex align-items-stretch">
                            <div class="card shadow-none border w-100 mb-7 mb-lg-0">
                              <div class="card-body p-4 d-flex flex-column justify-content-center">
                                <div class="d-flex align-items-center gap-9 mb-3">
                                  <span class="flex-shrink-0 fs-2">1 Stars</span>
                                  <div class="progress bg-light-primary w-100" style="height: 4px;">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 45%;"></div>
                                  </div>
                                  <h6 class="mb-0">(485)</h6>
                                </div>
                                <div class="d-flex align-items-center gap-9 mb-3">
                                  <span class="flex-shrink-0 fs-2">2 Stars</span>
                                  <div class="progress bg-light-primary w-100" style="height: 4px;">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                                  </div>
                                  <h6 class="mb-0">(215)</h6>
                                </div>
                                <div class="d-flex align-items-center gap-9 mb-3">
                                  <span class="flex-shrink-0 fs-2">3 Stars</span>
                                  <div class="progress bg-light-primary w-100" style="height: 4px;">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"></div>
                                  </div>
                                  <h6 class="mb-0">(110)</h6>
                                </div>
                                <div class="d-flex align-items-center gap-9 mb-3">
                                  <span class="flex-shrink-0 fs-2">4 Stars</span>
                                  <div class="progress bg-light-primary w-100" style="height: 4px;">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                  </div>
                                  <h6 class="mb-0">(620)</h6>
                                </div>
                                <div class="d-flex align-items-center gap-9">
                                  <span class="flex-shrink-0 fs-2">5 Stars</span>
                                  <div class="progress bg-light-primary w-100" style="height: 4px;">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 12%;"></div>
                                  </div>
                                  <h6 class="mb-0">(160)</h6>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-4 d-flex align-items-stretch">
                            <div class="card shadow-none border w-100 mb-7 mb-lg-0">
                              <div class="card-body p-4 d-flex flex-column justify-content-center">
                                <button type="button" class="btn btn-outline-primary d-flex align-items-center gap-2 mx-auto"><i class="ti ti-pencil fs-7"></i>Write an Review</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>
    <!--  Shopping Cart -->
    <div class="offcanvas offcanvas-end shopping-cart" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header py-4">
        <h5 class="offcanvas-title fs-5 fw-semibold" id="offcanvasRightLabel">Shopping Cart</h5>
        <span class="badge bg-primary rounded-4 px-3 py-1 lh-sm">5 new</span>
      </div>
      <div class="offcanvas-body h-100 px-4 pt-0" data-simplebar="">
        <ul class="mb-0">
          <li class="pb-7">
            <div class="d-flex align-items-center">
              <img src="../../dist/images/products/product-1.jpg" width="95" height="75" class="rounded-1 me-9 flex-shrink-0" alt="">
              <div>
                <h6 class="mb-1">Supreme toys cooker</h6>
                <p class="mb-0 text-muted fs-2">Kitchenware Item</p>
                <div class="d-flex align-items-center justify-content-between mt-2">
                  <h6 class="fs-2 fw-semibold mb-0 text-muted">$250</h6>
                  <div class="input-group input-group-sm w-50">
                    <button class="btn border-0 round-20 minus p-0 bg-light-success text-success " type="button" id="add1"> - </button>
                    <input type="text" class="form-control round-20 bg-transparent text-muted fs-2 border-0  text-center qty" placeholder="" aria-label="Example text with button addon" aria-describedby="add1" value="1">
                    <button class="btn text-success bg-light-success  p-0 round-20 border-0 add" type="button" id="addo2"> + </button>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="pb-7">
            <div class="d-flex align-items-center">
              <img src="../../dist/images/products/product-2.jpg" width="95" height="75" class="rounded-1 me-9 flex-shrink-0" alt="">
              <div>
                <h6 class="mb-1">Supreme toys cooker</h6>
                <p class="mb-0 text-muted fs-2">Kitchenware Item</p>
                <div class="d-flex align-items-center justify-content-between mt-2">
                  <h6 class="fs-2 fw-semibold mb-0 text-muted">$250</h6>
                  <div class="input-group input-group-sm w-50">
                    <button class="btn border-0 round-20 minus p-0 bg-light-success text-success " type="button" id="add2"> - </button>
                    <input type="text" class="form-control round-20 bg-transparent text-muted fs-2 border-0  text-center qty" placeholder="" aria-label="Example text with button addon" aria-describedby="add2" value="1">
                    <button class="btn text-success bg-light-success  p-0 round-20 border-0 add" type="button" id="addon34"> + </button>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="pb-7">
            <div class="d-flex align-items-center">
              <img src="../../dist/images/products/product-3.jpg" width="95" height="75" class="rounded-1 me-9 flex-shrink-0" alt="">
              <div>
                <h6 class="mb-1">Supreme toys cooker</h6>
                <p class="mb-0 text-muted fs-2">Kitchenware Item</p>
                <div class="d-flex align-items-center justify-content-between mt-2">
                  <h6 class="fs-2 fw-semibold mb-0 text-muted">$250</h6>
                  <div class="input-group input-group-sm w-50">
                    <button class="btn border-0 round-20 minus p-0 bg-light-success text-success " type="button" id="add3"> - </button>
                    <input type="text" class="form-control round-20 bg-transparent text-muted fs-2 border-0  text-center qty" placeholder="" aria-label="Example text with button addon" aria-describedby="add3" value="1">
                    <button class="btn text-success bg-light-success  p-0 round-20 border-0 add" type="button" id="addon3"> + </button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="align-bottom">
          <div class="d-flex align-items-center pb-7">
            <span class="text-dark fs-3">Sub Total</span>
            <div class="ms-auto">
              <span class="text-dark fw-semibold fs-3">$2530</span>
            </div>
          </div>
          <div class="d-flex align-items-center pb-7">
            <span class="text-dark fs-3">Total</span>
            <div class="ms-auto">
              <span class="text-dark fw-semibold fs-3">$6830</span>
            </div>
          </div>
          <a href="eco-checkout.html" class="btn btn-outline-primary w-100">Go to shopping cart</a>
        </div>
      </div>
    </div>
    <!--  Mobilenavbar -->
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="mobilenavbar" aria-labelledby="offcanvasWithBothOptionsLabel">
      <nav class="sidebar-nav scroll-sidebar">
        <div class="offcanvas-header justify-content-between">
          <img src="../../dist/images/logos/favicon.ico" alt="" class="img-fluid">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body profile-dropdown mobile-navbar" data-simplebar="" data-simplebar="">
          <ul id="sidebarnav">
            <li class="sidebar-item">
              <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                <span>
                  <i class="ti ti-apps"></i>
                </span>
                <span class="hide-menu">Apps</span>
              </a>
              <ul aria-expanded="false" class="collapse first-level my-3">
                <li class="sidebar-item py-2">
                  <a href="#" class="d-flex align-items-center">
                    <div class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                      <img src="../../dist/images/svgs/icon-dd-chat.svg" alt="" class="img-fluid" width="24" height="24">
                    </div>
                    <div class="d-inline-block">
                      <h6 class="mb-1 bg-hover-primary">Chat Application</h6>
                      <span class="fs-2 d-block fw-normal text-muted">New messages arrived</span>
                    </div>
                  </a>
                </li>
                <li class="sidebar-item py-2">
                  <a href="#" class="d-flex align-items-center">
                    <div class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                      <img src="../../dist/images/svgs/icon-dd-invoice.svg" alt="" class="img-fluid" width="24" height="24">
                    </div>
                    <div class="d-inline-block">
                      <h6 class="mb-1 bg-hover-primary">Invoice App</h6>
                      <span class="fs-2 d-block fw-normal text-muted">Get latest invoice</span>
                    </div>
                  </a>
                </li>
                <li class="sidebar-item py-2">
                  <a href="#" class="d-flex align-items-center">
                    <div class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                      <img src="../../dist/images/svgs/icon-dd-mobile.svg" alt="" class="img-fluid" width="24" height="24">
                    </div>
                    <div class="d-inline-block">
                      <h6 class="mb-1 bg-hover-primary">Contact Application</h6>
                      <span class="fs-2 d-block fw-normal text-muted">2 Unsaved Contacts</span>
                    </div>
                  </a>
                </li>
                <li class="sidebar-item py-2">
                  <a href="#" class="d-flex align-items-center">
                    <div class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                      <img src="../../dist/images/svgs/icon-dd-message-box.svg" alt="" class="img-fluid" width="24" height="24">
                    </div>
                    <div class="d-inline-block">
                      <h6 class="mb-1 bg-hover-primary">Email App</h6>
                      <span class="fs-2 d-block fw-normal text-muted">Get new emails</span>
                    </div>
                  </a>
                </li>
                <li class="sidebar-item py-2">
                  <a href="#" class="d-flex align-items-center">
                    <div class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                      <img src="../../dist/images/svgs/icon-dd-cart.svg" alt="" class="img-fluid" width="24" height="24">
                    </div>
                    <div class="d-inline-block">
                      <h6 class="mb-1 bg-hover-primary">User Profile</h6>
                      <span class="fs-2 d-block fw-normal text-muted">learn more information</span>
                    </div>
                  </a>
                </li>
                <li class="sidebar-item py-2">
                  <a href="#" class="d-flex align-items-center">
                    <div class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                      <img src="../../dist/images/svgs/icon-dd-date.svg" alt="" class="img-fluid" width="24" height="24">
                    </div>
                    <div class="d-inline-block">
                      <h6 class="mb-1 bg-hover-primary">Calendar App</h6>
                      <span class="fs-2 d-block fw-normal text-muted">Get dates</span>
                    </div>
                  </a>
                </li>
                <li class="sidebar-item py-2">
                  <a href="#" class="d-flex align-items-center">
                    <div class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                      <img src="../../dist/images/svgs/icon-dd-lifebuoy.svg" alt="" class="img-fluid" width="24" height="24">
                    </div>
                    <div class="d-inline-block">
                      <h6 class="mb-1 bg-hover-primary">Contact List Table</h6>
                      <span class="fs-2 d-block fw-normal text-muted">Add new contact</span>
                    </div>
                  </a>
                </li>
                <li class="sidebar-item py-2">
                  <a href="#" class="d-flex align-items-center">
                    <div class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                      <img src="../../dist/images/svgs/icon-dd-application.svg" alt="" class="img-fluid" width="24" height="24">
                    </div>
                    <div class="d-inline-block">
                      <h6 class="mb-1 bg-hover-primary">Notes Application</h6>
                      <span class="fs-2 d-block fw-normal text-muted">To-do and Daily tasks</span>
                    </div>
                  </a>
                </li>
                <ul class="px-8 mt-7 mb-4">
                  <li class="sidebar-item mb-3">
                    <h5 class="fs-5 fw-semibold">Quick Links</h5>
                  </li>
                  <li class="sidebar-item py-2">
                    <a class="fw-semibold text-dark" href="#">Pricing Page</a>
                  </li>
                  <li class="sidebar-item py-2">
                    <a class="fw-semibold text-dark" href="#">Authentication Design</a>
                  </li>
                  <li class="sidebar-item py-2">
                    <a class="fw-semibold text-dark" href="#">Register Now</a>
                  </li>
                  <li class="sidebar-item py-2">
                    <a class="fw-semibold text-dark" href="#">404 Error Page</a>
                  </li>
                  <li class="sidebar-item py-2">
                    <a class="fw-semibold text-dark" href="#">Notes App</a>
                  </li>
                  <li class="sidebar-item py-2">
                    <a class="fw-semibold text-dark" href="#">User Application</a>
                  </li>
                  <li class="sidebar-item py-2">
                    <a class="fw-semibold text-dark" href="#">Account Settings</a>
                  </li>
                </ul>
              </ul>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="app-chat.html" aria-expanded="false">
                <span>
                  <i class="ti ti-message-dots"></i>
                </span>
                <span class="hide-menu">Chat</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="app-calendar.html" aria-expanded="false">
                <span>
                  <i class="ti ti-calendar"></i>
                </span>
                <span class="hide-menu">Calendar</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="app-email.html" aria-expanded="false">
                <span>
                  <i class="ti ti-mail"></i>
                </span>
                <span class="hide-menu">Email</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!--  Search Bar -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content rounded-1">
          <div class="modal-header border-bottom">
            <input type="search" class="form-control fs-3" placeholder="Search here" id="search">
            <span data-bs-dismiss="modal" class="lh-1 cursor-pointer">
              <i class="ti ti-x fs-5 ms-3"></i>
            </span>
          </div>
          <div class="modal-body message-body" data-simplebar="">
            <h5 class="mb-0 fs-5 p-1">Quick Page Links</h5>
            <ul class="list mb-0 py-2">
              <li class="p-1 mb-1 bg-hover-light-black">
                <a href="#">
                  <span class="fs-3 text-black fw-normal d-block">Modern</span>
                  <span class="fs-3 text-muted d-block">/dashboards/dashboard1</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black">
                <a href="#">
                  <span class="fs-3 text-black fw-normal d-block">Dashboard</span>
                  <span class="fs-3 text-muted d-block">/dashboards/dashboard2</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black">
                <a href="#">
                  <span class="fs-3 text-black fw-normal d-block">Contacts</span>
                  <span class="fs-3 text-muted d-block">/apps/contacts</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black">
                <a href="#">
                  <span class="fs-3 text-black fw-normal d-block">Posts</span>
                  <span class="fs-3 text-muted d-block">/apps/blog/posts</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black">
                <a href="#">
                  <span class="fs-3 text-black fw-normal d-block">Detail</span>
                  <span class="fs-3 text-muted d-block">/apps/blog/detail/streaming-video-way-before-it-was-cool-go-dark-tomorrow</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black">
                <a href="#">
                  <span class="fs-3 text-black fw-normal d-block">Shop</span>
                  <span class="fs-3 text-muted d-block">/apps/ecommerce/shop</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black">
                <a href="#">
                  <span class="fs-3 text-black fw-normal d-block">Modern</span>
                  <span class="fs-3 text-muted d-block">/dashboards/dashboard1</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black">
                <a href="#">
                  <span class="fs-3 text-black fw-normal d-block">Dashboard</span>
                  <span class="fs-3 text-muted d-block">/dashboards/dashboard2</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black">
                <a href="#">
                  <span class="fs-3 text-black fw-normal d-block">Contacts</span>
                  <span class="fs-3 text-muted d-block">/apps/contacts</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black">
                <a href="#">
                  <span class="fs-3 text-black fw-normal d-block">Posts</span>
                  <span class="fs-3 text-muted d-block">/apps/blog/posts</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black">
                <a href="#">
                  <span class="fs-3 text-black fw-normal d-block">Detail</span>
                  <span class="fs-3 text-muted d-block">/apps/blog/detail/streaming-video-way-before-it-was-cool-go-dark-tomorrow</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black">
                <a href="#">
                  <span class="fs-3 text-black fw-normal d-block">Shop</span>
                  <span class="fs-3 text-muted d-block">/apps/ecommerce/shop</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- --------------------------------------------------- -->
    <!-- Customizer -->
    <!-- --------------------------------------------------- -->

        <!-- ---------------------------------------------- -->
    <!-- Customizer -->
    <!-- ---------------------------------------------- -->
    <!-- ---------------------------------------------- -->
    <!-- Import Js Files -->
    <!-- ---------------------------------------------- -->
    {% include 'user/footer.html' %}
    <!-- ---------------------------------------------- -->
    <script>
      const dateInput = document.getElementById('appointment_date');
      const timeSlotContainer = document.getElementById('time_slot_container');
      const timeSlotSelect = document.getElementById('time_slot');
      const messageContainer = document.getElementById('message_for_you');
  
      dateInput.addEventListener('change', () => {
          const selectedDate = dateInput.value;
          const doctorId = "{{ doctor_data['_id'] }}";
          
          checkWithHistory(selectedDate)            
      });

      function checkWithHistory(selectedDate){
          const doctorId = "{{ doctor_data['_id'] }}";
          fetch('/already_in_appointment/'+doctorId+'/'+selectedDate)
          .then(response => response.json())
          .then(data => {
              const value = data.message;
              if (value == "False") {
                  fetchTimeSlots(selectedDate);
                  timeSlotContainer.style.display = 'block';
                  messageContainer.style.display = 'none';
              } else {
                  timeSlotContainer.style.display = 'none';
                  messageContainer.style.display = 'block';
              }
          })
      }
  
      function fetchTimeSlots(selectedDate) {
          const doctorId = "{{ doctor_data['_id'] }}";
          const dayOfWeek = new Date(selectedDate).getDay();
          fetch('/check_appointments/'+doctorId+'/'+selectedDate+'/'+dayOfWeek)
          .then(response => response.json())
          .then( data => {

              timeSlotSelect.innerHTML = '';

              const availableSlots = data.available_slots
              const bookedSlots = data.booked_slots

              const availableSlotsArray = Object.values(availableSlots)
              const bookedSlotsArray = Object.values(bookedSlots)
              
              availableSlotsArray.forEach( slot => {

                  const option = document.createElement('option');
                  option.value = slot;
                  if (bookedSlotsArray.includes(slot)) {
                      option.disabled = true;
                      option.textContent = `${slot} (Booked)`;
                  } else {
                      option.textContent = slot;
                  }
                  timeSlotSelect.appendChild(option);
                  
              })
          }) 
      }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
  <script>
      function showErrorAlert(message) {
          Swal.fire({
              icon: '{{type}}',
              title: 'Appointement Status',
              text: message,
              confirmButtonText: 'OK'
          });
      }

      {% if message %}
          showErrorAlert("{{ message }}");
      {% endif %}
</script>
    <script src="{{ url_for('static', filename='dist/js/apps/chat.js')}}"></script>
    <script src="{{ url_for('static', filename='dist/libs/select2/dist/js/select2.full.min.js')}}"></script>
    <script src="{{ url_for('static', filename='dist/libs/select2/dist/js/select2.min.js')}}"></script>
    <script src="{{ url_for('static', filename='dist/js/forms/select2.init.js')}}"></script>
    <script src="{{ url_for('static', filename='dist/js/apps/contact.js')}}"></script>
  </body>
</html>