
<!DOCTYPE html>
<html lang="en">
    {% include 'user/header.html' %}
  <body>
    <!-- Preloader -->

    <!-- --------------------------------------------------- -->
    <!-- Body Wrapper -->
    <!-- --------------------------------------------------- -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
      <!-- --------------------------------------------------- -->
      <!-- Sidebar -->
      <!-- --------------------------------------------------- -->
      
        <!-- Sidebar scroll-->
        {% include 'user/sidebar-user.html' %}
        <!-- End Sidebar scroll-->
      <!-- --------------------------------------------------- -->
      <!-- Main Wrapper -->
      <!-- --------------------------------------------------- -->
      <div class="body-wrapper">
        <!-- --------------------------------------------------- -->
        <!-- Header Start -->
        <!-- --------------------------------------------------- -->
        
        <!-- --------------------------------------------------- -->
        <!-- Header End -->
        <!-- --------------------------------------------------- -->


        

        <div class="container-fluid">
            <div class="row">
              {% for key, value in user['emergency_profile'].items() %}
              <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
                <div class="card w-100 rounded-bottom-0">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <h4 class="card-title mb-0">{{ key }}</h4>
                    </div>
                    <br>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="{{ key }}Toggle" {% if value == 1 %}checked{% endif %}>
                      <label class="form-check-label" for="{{ key }}Toggle" style="font-weight: 700;">Make Visible</label>
                    </div>
                  </div>
                </div>
              </div>
              <script>
                const toggleButton_{{ key }} = document.getElementById("{{ key }}Toggle")
              
                toggleButton_{{ key }}.addEventListener("change", async () => {
                    const user_id = "{{ details['_id'] }}";
                    const availability = toggleButton_{{ key }}.checked ? 1 : 0;
                    const visibility = "{{key}}";
              
                    try {
                        const response = await fetch("/update_emgergency_visibility", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({ user_id, visibility ,availability }),
                        });
              
                        if (response.ok) {
                            console.log("visibility  updated successfully");
                        } else {
                            console.error("Failed to update visibility ");
                        }
                    } catch (error) {
                        console.error("An error occurred:", error);
                    }
                });
              </script>
            {% endfor %}
                
            
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
    <script>
        function showErrorAlert() {
            Swal.fire({
                icon: 'info',
                title: 'Appointement Status',
                text: "Please confrim you appointment at Hospital",
                confirmButtonText: 'OK'
            });
        }
  </script>
    {% include 'user/footer.html' %}
    <!-- ---------------------------------------------- -->
    <!-- current page js files -->
    <!-- ---------------------------------------------- -->
    <script src="{{ url_for('static', filename='dist/js/apps/chat.js') }}"></script>
  </body>
</html>