    <script src="{{ url_for('static', filename='dist/libs/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/libs/simplebar/dist/simplebar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/app.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/app.init.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/app-style-switcher.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/sidebarmenu.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/apps/contact.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/libs/owl.carousel/dist/owl.carousel.min.js')}}"></script>
    <script src="{{ url_for('static', filename='dist/libs/apexcharts/dist/apexcharts.min.js')}}"></script>
    <script src="{{ url_for('static', filename='dist/js/dashboard.js')}}"></script>
    <script src="{{ url_for('static', filename='dist/js/apps/chat.js')}}"></script>
    <script src="{{ url_for('static', filename='dist/js/custom.js')}}"></script>
    <script src="{{ url_for('static', filename='dist/libs/prismjs/prism.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/extra-libs/jsgrid/db.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/extra-libs/jsgrid/jsgrid.min.js')}}"></script>
    <script src="{{ url_for('static', filename='dist/js/plugins/jsgrid-init.js')}}"></script>
    <script src="{{ url_for('static', filename='dist/libs/select2/dist/js/select2.full.min.js')}}"></script>
    <script src="{{ url_for('static', filename='dist/libs/select2/dist/select2.min.js')}}"></script>
    <script src="{{ url_for('static', filename='dist/js/forms/select2.init.js')}}"></script>
